In [1]:
print("Hello World!")

Hello World!

# Variables
- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)
- A variable name cannot be any of the Python keywords.

In [2]:
x = 5
print(x)
type(x)

5

int

In [4]:
y="Obaidul"
print(y)
type(y)

Obaidul

str

In [5]:
# Casting
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [6]:
a = 4
A = "Sally"
print(a)
print(A)

4
Sally

## Input and Output

In [7]:
name = input("Enter Your name:")
print(f"Your name is {name}")

Enter Your name:Obaidul Haque
Your name is Obaidul Haque

## Data Types
- Text Type:	    str
- Numeric Types:	int, float, complex
- Sequence Types:	list, tuple, range
- Mapping Type:	    dict
- Set Types:        set, frozenset
- Boolean Type:	    bool
- Binary Types:	    bytes, bytearray, memoryview
- None Type:	    NoneType

### Text/String Type

In [9]:
str1 = "This is first program in python"
type(str1)

str

In [10]:
for x in str1:
    print(x)

T
h
i
s

i
s

f
i
r
s
t

p
r
o
g
r
a
m

i
n

p
y
t
h
o
n

In [11]:
print(len(str1))

31

In [12]:
print(str1[0])

T

In [13]:
print(str1[1])

h

In [14]:
print(str1[0:10])

This is fi

## Numeric Types

In [15]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [17]:
type(x)

int

In [18]:
type(y)

float

In [19]:
type(z)

complex

In [20]:
xy = x + y
print(type(xy))
print(xy)

<class 'float'>
3.8

In [22]:
## Number casting
x="1"
print(type(x))
y = int(x)
print(type(y))

<class 'str'>
<class 'int'>

In [23]:
x=1.5
print(type(x))
y = int(x)
print(type(y))

<class 'float'>
<class 'int'>

## Sequence Types:

### List
- Ordered
- Changable
- Mutable
- Allow Duplicates

In [24]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [25]:
# Duplicate items in list
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [26]:
print(len(thislist))

5

In [27]:
# Contain any types of data
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

In [28]:
print(type(list1))

<class 'list'>

In [29]:
# Define using list contructor
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [32]:
my_lst = [3,1,3,4,5,6,7,2,10]
print(my_lst)

[3, 1, 3, 4, 5, 6, 7, 2, 10]

In [33]:
my_lst[1]

1

In [36]:
my_lst[0:4]

[3, 1, 3, 4]

In [37]:
my_lst[:4]

[3, 1, 3, 4]

In [38]:
List = [['Geeks', 'For'], ['Geeks']]
print("Accessing a element from a Multi-Dimensional list")
print(List[0][1])
print(List[1][0])

Accessing a element from a Multi-Dimensional list
For
Geeks

In [39]:
# Creating a List
List = []
print("Initial blank List: ")
print(List)

Initial blank List:
[]

In [40]:
# Addition of Elements
# in the List
List.append(1)
List.append(2)
List.append(4)
print("\nList after Addition of Three elements: ")
print(List)

List after Addition of Three elements:
[1, 2, 4]

In [41]:
# Adding elements to the List
# using Iterator
for i in range(1, 4):
    List.append(i)
print("\nList after Addition of elements from 1-3: ")
print(List)

List after Addition of elements from 1-3:
[1, 2, 4, 1, 2, 3]

In [42]:
# Adding Tuples to the List
List.append((5, 6))
print("\nList after Addition of a Tuple: ")
print(List)

List after Addition of a Tuple:
[1, 2, 4, 1, 2, 3, (5, 6)]

In [43]:
# Addition of List to a List
List2 = ['For', 'Geeks']
List.append(List2)
print("\nList after Addition of a List: ")
print(List)

List after Addition of a List:
[1, 2, 4, 1, 2, 3, (5, 6), ['For', 'Geeks']]

In [44]:
# Creating a List
List = [1,2,3,4]
print("Initial List: ")
print(List)
 
# Addition of Element at 
# specific Position
# (using Insert Method)
List.insert(3, 12)
List.insert(0, 'Geeks')
print("\nList after performing Insert Operation: ")
print(List)

Initial List:
[1, 2, 3, 4]

List after performing Insert Operation:
['Geeks', 1, 2, 3, 12, 4]

In [45]:
# Python program to demonstrate
# Addition of elements in a List

# Creating a List
List = [1, 2, 3, 4]
print("Initial List: ")
print(List)

# Addition of multiple elements
# to the List at the end
# (using Extend Method)
List.extend([8, 'Geeks', 'Always'])
print("\nList after performing Extend Operation: ")
print(List)

Initial List:
[1, 2, 3, 4]

List after performing Extend Operation:
[1, 2, 3, 4, 8, 'Geeks', 'Always']

In [46]:
# Reversing a list
mylist = [1, 2, 3, 4, 5, 'Geek', 'Python']
mylist.reverse()
print(mylist)

['Python', 'Geek', 5, 4, 3, 2, 1]

In [47]:
# Using reversed function

my_list = [1, 2, 3, 4, 5]
reversed_list = list(reversed(my_list))
print(reversed_list)

[5, 4, 3, 2, 1]

In [49]:
# Python program to demonstrate
# Removal of elements in a List

# Creating a List
List = [1, 2, 3, 4, 5, 6,6,7, 8, 9, 10, 11, 12]
print("Initial List: ")
print(List)

# Removing elements from List
# using Remove() method
List.remove(5)
List.remove(6)
print("\nList after Removal of two elements: ")
print(List)

Initial List:
[1, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10, 11, 12]

List after Removal of two elements:
[1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12]

In [50]:
List = [1, 2, 3, 4, 5]

# Removing element from the
# Set using the pop() method
List.pop()
print("\nList after popping an element: ")
print(List)

# Removing element at a
# specific location from the
# Set using the pop() method
List.pop(2)
print("\nList after popping a specific element: ")
print(List)

List after popping an element:
[1, 2, 3, 4]

List after popping a specific element:
[1, 2, 4]

In [51]:
# Python program to demonstrate
# Removal of elements in a List

# Creating a List
List = ['G', 'E', 'E', 'K', 'S', 'F','O', 'R', 'G', 'E', 'E', 'K', 'S']
print("Initial List: ")
print(List)

# Print elements of a range
# using Slice operation
Sliced_List = List[3:8]
print("\nSlicing elements in a range 3-8: ")
print(Sliced_List)

# Print elements from a
# pre-defined point to end
Sliced_List = List[5:]
print("\nElements sliced from 5th element till the end: ")
print(Sliced_List)

# Printing elements from
# beginning till end
Sliced_List = List[:]
print("\nPrinting all elements using slice operation: ")
print(Sliced_List)

Initial List:
['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

Slicing elements in a range 3-8:
['K', 'S', 'F', 'O', 'R']

Elements sliced from 5th element till the end:
['F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

Printing all elements using slice operation:
['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

In [52]:
# Creating a List
List = ['G', 'E', 'E', 'K', 'S', 'F','O', 'R', 'G', 'E', 'E', 'K', 'S']
print("Initial List: ")
print(List)

# Print elements from beginning
# to a pre-defined point using Slice
Sliced_List = List[:-6]
print("\nElements sliced till 6th element from last: ")
print(Sliced_List)

# Print elements of a range
# using negative index List slicing
Sliced_List = List[-6:-1]
print("\nElements sliced from index -6 to -1")
print(Sliced_List)

# Printing elements in reverse
# using Slice operation
Sliced_List = List[::-1]
print("\nPrinting List in reverse: ")
print(Sliced_List)

Initial List:
['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

Elements sliced till 6th element from last:
['G', 'E', 'E', 'K', 'S', 'F', 'O']

Elements sliced from index -6 to -1
['R', 'G', 'E', 'E', 'K']

Printing List in reverse:
['S', 'K', 'E', 'E', 'G', 'R', 'O', 'F', 'S', 'K', 'E', 'E', 'G']

In [53]:
# Python program to demonstrate list
# comprehension in Python

# below list contains square of all
# odd numbers from range 1 to 10
odd_square = [x ** 2 for x in range(1, 11) if x % 2 == 1]
print(odd_square)

[1, 9, 25, 49, 81]

In [54]:
# Using list fruits
fruits = ["mango","apple","strawberry"]
# creating a copy shakes
shakes = fruits.copy()
# printing shakes list
print(shakes)

['mango', 'apple', 'strawberry']

In [59]:
# Joining Twro list
list1 = [1,2,3,4,5]
list2 = [6,7,8]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [60]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

### Python Tuples
- Collection
- Ordered
- Unchangeable
- Allow Duplicates

In [61]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [62]:
# Creating an empty Tuple
Tuple1 = ()
print("Initial empty Tuple: ")
print(Tuple1)

Initial empty Tuple:
()

In [63]:
# Creating a Tuple
# with the use of string
Tuple1 = ('Geeks', 'For')
print("\nTuple with the use of String: ")
print(Tuple1)

Tuple with the use of String:
('Geeks', 'For')

In [64]:
# Creating a Tuple with
# the use of list
list1 = [1, 2, 4, 5, 6]
print("\nTuple using List: ")
print(tuple(list1))

Tuple using List:
(1, 2, 4, 5, 6)

In [65]:
# Creating a Tuple
# with the use of built-in function / constructor
Tuple1 = tuple('Geeks')
print("\nTuple with the use of function: ")
print(Tuple1)

Tuple with the use of function:
('G', 'e', 'e', 'k', 's')

In [66]:
# Creating a Tuple
# with Mixed Datatype
Tuple1 = (5, 'Welcome', 7, 'Geeks')
print("\nTuple with Mixed Datatypes: ")
print(Tuple1)

Tuple with Mixed Datatypes:
(5, 'Welcome', 7, 'Geeks')

In [67]:
# Creating a Tuple
# with nested tuples
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'geek')
Tuple3 = (Tuple1, Tuple2)
print("\nTuple with nested tuples: ")
print(Tuple3)

Tuple with nested tuples:
((0, 1, 2, 3), ('python', 'geek'))

In [68]:
# Creating a Tuple
# with repetition
Tuple1 = ('Geeks',) * 3
print("\nTuple with repetition: ")
print(Tuple1)

Tuple with repetition:
('Geeks', 'Geeks', 'Geeks')

In [69]:
# Creating a Tuple
# with the use of loop
Tuple1 = ('Geeks')
n = 5
print("\nTuple with a loop")
for i in range(int(n)):
    Tuple1 = (Tuple1,)
    print(Tuple1)

Tuple with a loop
('Geeks',)
(('Geeks',),)
((('Geeks',),),)
(((('Geeks',),),),)
((((('Geeks',),),),),)

#### Accessing of Tuples

In [71]:
# Accessing Tuple
# with Indexing
Tuple1 = ("Geeks", "For", "Geeks")
print("\nFirst element of Tuple: ")
print(Tuple1[0])

First element of Tuple:
Geeks

In [73]:
# Concatenation of tuples
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('Geeks', 'For', 'Geeks')
 
Tuple3 = Tuple1 + Tuple2
print(Tuple3)

(0, 1, 2, 3, 'Geeks', 'For', 'Geeks')

In [74]:
# Printing first Tuple
print("Tuple 1: ")
print(Tuple1)

Tuple 1:
(0, 1, 2, 3)

In [75]:
# Printing Second Tuple
print("\nTuple2: ")
print(Tuple2)

Tuple2:
('Geeks', 'For', 'Geeks')

In [76]:
# Printing Final Tuple
print("\nTuples after Concatenation: ")
print(Tuple3)

Tuples after Concatenation:
(0, 1, 2, 3, 'Geeks', 'For', 'Geeks')

In [77]:
# Slicing of a Tuple
# with Numbers
Tuple1 = tuple('GEEKSFORGEEKS')
 
# Removing First element
print("Removal of First Element: ")
print(Tuple1[1:])

# Reversing the Tuple
print("\nTuple after sequence of Element is reversed: ")
print(Tuple1[::-1])

# Printing elements of a Range
print("\nPrinting elements between Range 4-9: ")
print(Tuple1[4:9])

Removal of First Element:
('E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S')

Tuple after sequence of Element is reversed:
('S', 'K', 'E', 'E', 'G', 'R', 'O', 'F', 'S', 'K', 'E', 'E', 'G')

Printing elements between Range 4-9:
('S', 'F', 'O', 'R', 'G')

#### Deleting a Tuple

In [78]:
# Deleting a Tuple

Tuple1 = (0, 1, 2, 3, 4)
del Tuple1

print(Tuple1)

NameError: name 'Tuple1' is not defined

In [90]:
# Updating a Tuple
Tuple1 = (0, 1, 2, 3, 4)
print(type(Tuple1))
print(Tuple1)

# Convert the tuple into List
list1 = list(Tuple1)
print(type(list1))
print(list1)

list1.append(10)
print(list1)

Tuple2=tuple(list1)
print(Tuple2)
print(type(Tuple2))

<class 'tuple'>
(0, 1, 2, 3, 4)
<class 'list'>
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 10]
(0, 1, 2, 3, 4, 10)
<class 'tuple'>

In [91]:
# Loop with Tuple
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [92]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [93]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [95]:
# Multiply Tuple
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

### Python Sets
- Unordered
- Unchangeable
-- Once a set is created, you cannot change its items, but you can remove items and add new items.
- Duplicates Not Allowed

In [100]:
# Declare set
thisset = {"apple", "banana", "cherry", "apple"}
print(type(thisset))
print(thisset)

<class 'set'>
{'banana', 'cherry', 'apple'}

In [99]:
# Access Items
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [101]:
# Add item
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'banana', 'cherry', 'apple'}

In [102]:
#Add Sets

thisset = {"apple", "banana", "cherry"}

tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'banana', 'mango', 'apple', 'cherry', 'pineapple'}

In [103]:
# Add elements of a list to at set:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'cherry', 'orange', 'banana', 'kiwi'}

In [104]:
# A frozen set
frozen_set = frozenset(["e", "f", "g"])
print("\nFrozen Set")
print(frozen_set)

# Uncommenting below line would cause error as
# we are trying to add element to a frozen set
# frozen_set.add("h")

Frozen Set
frozenset({'g', 'f', 'e'})

In [105]:
# Loop Items
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [106]:
# Join Two Sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

In [107]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'a', 'b'}

In [108]:
# Intersection
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [109]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [110]:
# Set Difference
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'banana', 'microsoft', 'cherry'}

In [ ]:
### Python Dictionaries
- key:value pairs
- Collection 
- Ordered
- Changeable
- Duplicates Not Allowed

In [120]:
# Declare Dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(type(thisdict))

# Accessing item
print(" Accessing item: ")
print(thisdict["model"])
print(thisdict.get("model"))

# Keys
print("Display Keys:")
print(thisdict.keys())
for x in thisdict.keys():
    print(x)

# Values
print("Display Values:")
for x in thisdict.values():
    print(x)

# Change Value
thisdict["year"] = 1980
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
<class 'dict'>
 Accessing item:
Mustang
Mustang
Display Keys:
dict_keys(['brand', 'model', 'year'])
brand
model
year
Display Values:
Ford
Mustang
1964
{'brand': 'Ford', 'model': 'Mustang', 'year': 1980}

In [113]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [121]:
# Adding Items
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [122]:
# Update Dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

In [123]:
# Removing Items
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [124]:
# Remove last item
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [125]:
# Loop Through a Dictionary
for x in thisdict:
  print(x)

brand
model

In [126]:
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang

In [127]:
# Copy a Dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [130]:
# Nested Dictionary
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

print(myfamily["child2"]["name"])

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}
Tobias