# Stemming in NLP

In [ ]:
#!pip install nltk 
#nltk.download('punkt')

In [2]:
import nltk 
import warnings
warnings.filterwarnings('ignore')

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\rashe\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [4]:
word = ['change','changing','changes','changed']

In [5]:
word

['change', 'changing', 'changes', 'changed']

In [6]:
from nltk.stem import PorterStemmer

In [7]:
p = PorterStemmer()

In [8]:
for w in word:
    print(p.stem(w))

chang
chang
chang
chang

In [9]:
for w in word:
    print(w , p.stem(w))

change chang
changing chang
changes chang
changed chang

In [10]:
sen = 'The constant flux of life necessitates embracing change, whether its adapting to the changes around us or actively changing ourselves to meet new challenges.'

In [11]:
sen

'The constant flux of life necessitates embracing change, whether its adapting to the changes around us or actively changing ourselves to meet new challenges.'

In [12]:
from nltk.tokenize import word_tokenize

In [13]:
token = word_tokenize(sen)

In [14]:
token

['The',
 'constant',
 'flux',
 'of',
 'life',
 'necessitates',
 'embracing',
 'change',
 ',',
 'whether',
 'its',
 'adapting',
 'to',
 'the',
 'changes',
 'around',
 'us',
 'or',
 'actively',
 'changing',
 'ourselves',
 'to',
 'meet',
 'new',
 'challenges',
 '.']

In [ ]:
#sen.split()

In [15]:
for w in token:
    print(p.stem(w))

the
constant
flux
of
life
necessit
embrac
chang
,
whether
it
adapt
to
the
chang
around
us
or
activ
chang
ourselv
to
meet
new
challeng
.

In [ ]:
#nltk.download('wordnet')

# Lemmatization in NLP

In [16]:
from nltk.stem import WordNetLemmatizer

In [17]:
le = WordNetLemmatizer()

In [18]:
token

['The',
 'constant',
 'flux',
 'of',
 'life',
 'necessitates',
 'embracing',
 'change',
 ',',
 'whether',
 'its',
 'adapting',
 'to',
 'the',
 'changes',
 'around',
 'us',
 'or',
 'actively',
 'changing',
 'ourselves',
 'to',
 'meet',
 'new',
 'challenges',
 '.']

In [19]:
for w in token:
    print(le.lemmatize(w))

The
constant
flux
of
life
necessitates
embracing
change
,
whether
it
adapting
to
the
change
around
u
or
actively
changing
ourselves
to
meet
new
challenge
.

# Tokenization in NLP

In Python, there are several libraries and tools available for performing tokenization and other NLP tasks. Here are a few examples using popular libraries

# NLTK

NLTK (Natural Language Toolkit) is a widely used library for NLP tasks. To perform tokenization using NLTK, you need to install it first. You can do so by running pip install nltk. Here's an example of tokenizing a sentence using NLTK

In [20]:
from nltk.tokenize import word_tokenize, sent_tokenize

sentence = "I'm from aiQuest Intelligence. I am learning NLP. It is fascinating!"
word_tokens = word_tokenize(sentence)
sentence_tokens = sent_tokenize(sentence)

print(word_tokens)
print(sentence_tokens)

['I', "'m", 'from', 'aiQuest', 'Intelligence', '.', 'I', 'am', 'learning', 'NLP', '.', 'It', 'is', 'fascinating', '!']
["I'm from aiQuest Intelligence.", 'I am learning NLP.', 'It is fascinating!']

# spaCy

spaCy is another powerful library for NLP. To install spaCy, you can run pip install spacy and then download the appropriate language model. Here's an example of tokenization using spaCy

In [ ]:
#!pip install spacy
# python -m spacy download en_core_web_sm    -> install in conda

In [21]:
import spacy

spc = spacy.load('en_core_web_sm')  # Load the English language model

sentence = "I'm from aiQuest Intelligence. I am learning NLP. It is fascinating!"
doc = spc(sentence)

word_tokens = [token.text for token in doc]

print(word_tokens)

['I', "'m", 'from', 'aiQuest', 'Intelligence', '.', 'I', 'am', 'learning', 'NLP', '.', 'It', 'is', 'fascinating', '!']

# Transformers

Transformers is a library built by Hugging Face that provides state-of-the-art pre-trained models for NLP. It offers various functionalities, including tokenization. To install Transformers, run pip install transformers. Here's an example of tokenization using Transformers

In [22]:
from transformers import AutoTokenizer

tokenizer = AutoTokenizer.from_pretrained('bert-base-uncased')

sentence = "I'm from aiQuest Intelligence. I am learning NLP. It is fascinating!"
tokens = tokenizer.tokenize(sentence)

print(tokens)

['i', "'", 'm', 'from', 'ai', '##quest', 'intelligence', '.', 'i', 'am', 'learning', 'nl', '##p', '.', 'it', 'is', 'fascinating', '!']

# Named Entity Tokenization using NLTK

To perform named entity tokenization using NLTK (Natural Language Toolkit), you can utilize the named entity recognition (NER) functionality provided by NLTK. Here's an example of how to extract named entity tokens from a sentence using NLTK

In [ ]:
#nltk.download('wordnet')
#nltk.download('maxent_ne_chunker')  # Download the required resource (NER models)
#nltk.download('words')  # Download the required resource (word corpus) 
#nltk.download('averaged_perceptron_tagger')

In [23]:
import nltk
from nltk import word_tokenize, pos_tag, ne_chunk

sentence = "I'm from aiQuest Intelligence. I am learning NLP. It is fascinating!, Hasan vai, my name is Joe"

tokens = word_tokenize(sentence) # Tokenize the sentence into words

pos_tags = pos_tag(tokens) # Perform part-of-speech tagging

ner_tags = ne_chunk(pos_tags) # Perform named entity recognition

named_entity_tokens = []

for chunk in ner_tags:
    if hasattr(chunk, 'label'):
        named_entity_tokens.append(' '.join(c[0] for c in chunk))

print(named_entity_tokens)

['aiQuest Intelligence', 'NLP', 'Hasan', 'Joe']

In [24]:
sentence2 = "Shakil Lives in Germany"
tokens = word_tokenize(sentence2)
pos_tags = pos_tag(tokens)

In [25]:
pos_tags

[('Shakil', 'NNP'), ('Lives', 'VBZ'), ('in', 'IN'), ('Germany', 'NNP')]

# Text Vectorizer

In [26]:
import pandas as pd
df = pd.read_excel('data/data.xlsx')

In [27]:
df

                          text  class
0      Hey, I love Bangladesh;      1
1  Good afternoon, I am happy!      1
2            I live in Germany      1
3        Nice to meet you man-      1
4            You won an iPhone      0

# Text Processing

In [28]:
from nltk.corpus import stopwords

en_stopwords = set(stopwords.words('english')) 
en_stopwords

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [29]:
stopwords.fileids()

['arabic',
 'azerbaijani',
 'basque',
 'bengali',
 'catalan',
 'chinese',
 'danish',
 'dutch',
 'english',
 'finnish',
 'french',
 'german',
 'greek',
 'hebrew',
 'hinglish',
 'hungarian',
 'indonesian',
 'italian',
 'kazakh',
 'nepali',
 'norwegian',
 'portuguese',
 'romanian',
 'russian',
 'slovene',
 'spanish',
 'swedish',
 'tajik',
 'turkish']

In [30]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [31]:
len(string.punctuation)

32

In [32]:
li = [1,2,3,4,54]
[l for l in li ]

[1, 2, 3, 4, 54]

In [33]:
[l for l in li if l%2==0]

[2, 4, 54]

In [34]:
df

                          text  class
0      Hey, I love Bangladesh;      1
1  Good afternoon, I am happy!      1
2            I live in Germany      1
3        Nice to meet you man-      1
4            You won an iPhone      0

In [35]:
def preprocess_text(text): 
    
    remove_punc = [char for char in text if char not in string.punctuation] # Remove punctuation
    clean_words = ''.join(remove_punc) # char joining
    
    #Remove stopwords
    text = ([word for word in clean_words.split() if word.lower() not in en_stopwords]) # stopword = stopwords.words('english')
    return text

In [36]:
df['text'] = df['text'].apply(preprocess_text)

In [37]:
df['text']

0     [Hey, love, Bangladesh]
1    [Good, afternoon, happy]
2             [live, Germany]
3           [Nice, meet, man]
4                    [iPhone]
Name: text, dtype: object

In [38]:
lemmatizer = WordNetLemmatizer()

def lemmatize_text(text):
    lemmatized_text = ' '.join([lemmatizer.lemmatize(word) for word in text])
    return lemmatized_text

In [39]:
df['text'] = df['text'].apply(lemmatize_text)
df.head()

                   text  class
0   Hey love Bangladesh      1
1  Good afternoon happy      1
2          live Germany      1
3         Nice meet man      1
4                iPhone      0

# CountVectorizer

In [41]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [42]:
cv = CountVectorizer()

In [43]:
cv_x = cv.fit_transform(df['text'])
cv_x

<5x12 sparse matrix of type '<class 'numpy.int64'>'
	with 12 stored elements in Compressed Sparse Row format>

In [44]:
cv_x.toarray()

array([[0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0],
       [1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]], dtype=int64)

In [45]:
cv_df = pd.DataFrame(cv_x.toarray())
cv_df

   0   1   2   3   4   5   6   7   8   9   10  11
0   0   1   0   0   0   1   0   0   1   0   0   0
1   1   0   0   1   1   0   0   0   0   0   0   0
2   0   0   1   0   0   0   0   1   0   0   0   0
3   0   0   0   0   0   0   0   0   0   1   1   1
4   0   0   0   0   0   0   1   0   0   0   0   0

In [48]:
cv.get_feature_names_out()

array(['afternoon', 'bangladesh', 'germany', 'good', 'happy', 'hey',
       'iphone', 'live', 'love', 'man', 'meet', 'nice'], dtype=object)

In [46]:
cv_df = pd.DataFrame(cv_x.toarray(), index=df['text'], columns=cv.get_feature_names_out())

In [47]:
cv_df

,afternoon,bangladesh,germany,good,happy,hey,iphone,live,love,man,meet,nice
text,,,,,,,,,,,,
Hey love Bangladesh,0,1,0,0,0,1,0,0,1,0,0,0
Good afternoon happy,1,0,0,1,1,0,0,0,0,0,0,0
live Germany,0,0,1,0,0,0,0,1,0,0,0,0
Nice meet man,0,0,0,0,0,0,0,0,0,1,1,1
iPhone,0,0,0,0,0,0,1,0,0,0,0,0

# TfidfVectorizer

In [49]:
tf = TfidfVectorizer()

In [50]:
tf_z = tf.fit_transform(df['text'])

In [51]:
tf_z

<5x12 sparse matrix of type '<class 'numpy.float64'>'
	with 12 stored elements in Compressed Sparse Row format>

In [52]:
cv_df = pd.DataFrame(tf_z.toarray(), index=df['text'], columns=tf.get_feature_names_out())

In [53]:
cv_df

,afternoon,bangladesh,germany,good,happy,hey,iphone,live,love,man,meet,nice
text,,,,,,,,,,,,
Hey love Bangladesh,0.00000,0.57735,0.000000,0.00000,0.00000,0.57735,0.0,0.000000,0.57735,0.00000,0.00000,0.00000
Good afternoon happy,0.57735,0.00000,0.000000,0.57735,0.57735,0.00000,0.0,0.000000,0.00000,0.00000,0.00000,0.00000
live Germany,0.00000,0.00000,0.707107,0.00000,0.00000,0.00000,0.0,0.707107,0.00000,0.00000,0.00000,0.00000
Nice meet man,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000,0.0,0.000000,0.00000,0.57735,0.57735,0.57735
iPhone,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000,1.0,0.000000,0.00000,0.00000,0.00000,0.00000

# Word2Vec

In [ ]:
#!pip install gensim

In [54]:
from gensim.models import Word2Vec, KeyedVectors

In [55]:
text_vector = [nltk.word_tokenize(test) for test in df['text']]
text_vector

[['Hey', 'love', 'Bangladesh'],
 ['Good', 'afternoon', 'happy'],
 ['live', 'Germany'],
 ['Nice', 'meet', 'man'],
 ['iPhone']]

In [57]:
model = Word2Vec(text_vector, min_count=1) #shift+tab

In [58]:
model

In [59]:
model.wv.most_similar('happy')

[('meet', 0.14595064520835876),
 ('love', 0.05048207938671112),
 ('Nice', 0.041577357798814774),
 ('Germany', 0.03476495295763016),
 ('live', 0.019152306020259857),
 ('iPhone', 0.01613471657037735),
 ('Good', 0.00882619246840477),
 ('afternoon', 0.004842507187277079),
 ('Bangladesh', 0.0019510532729327679),
 ('Hey', -0.08382599800825119)]